Package: com.petershu.mgtv
Name: mgtv
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: petershu
Author: petershu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-90+debug
Installed-Size: 304
